{# == Node Type Name           : SQL Stage  == #}
{# == Node Type Description    : Creates a table with custome SQL logic  == #}

{% if node.materializationType == 'table' %}
	{{ stage('Create table using FreeSQL') }}

{# CreateSQL for Table — use CTAS to infer types from the query #}

	CREATE OR REPLACE TABLE {{ ref_no_link(node.location.name, node.name) }}
	{%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
	AS
	{% for source in sources %}
		SELECT
		{% for col in source.columns %}
			{{ get_source_transform(col) }} AS "{{ col.name }}"
			{%- if not loop.last -%}, {% endif %}
		{% endfor %}
		{{ source.join }}
		{% if not loop.last %} UNION ALL {% endif %}
	{% endfor %}
	WHERE 1=0


{% elif node.materializationType == 'view' %}

{# Override CreateSQL for view #}

{% if node.override.create.enabled %}
	
	{{ node.override.create.script }}

{% else%}
    {# CreateSQL for View #}
    {{ stage('Create view using FreeSQL') }}

    CREATE OR REPLACE VIEW {{ ref_no_link(node.location.name, node.name) }}
    (
        {% for col in columns %}
            "{{ col.name }}"
            {%- if col.description | length > 0 %} COMMENT '{{ col.description | escape }}'{% endif %}
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}
    )
    {%- if node.description | length > 0 %} COMMENT = '{{ node.description | escape }}'{% endif %}
    AS
    {% for source in sources %}
        SELECT
        {% if config.selectDistinct %}
        DISTINCT
        {% endif %}
        {% for col in source.columns %}
            {{ get_source_transform(col) }} AS "{{ col.name }}"
            {%- if not loop.last -%}, {% endif %}
        {% endfor %}

        {{ source.join }}
        {% if config.groupByAll %}
		   Group By All
	    {% endif %}
        {% if not loop.last %}
            {% if config.insertStrategy in ['UNION', 'UNION ALL'] %}
                {{ config.insertStrategy }}
            {% else %}
                UNION
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endif %}